
<nav class="navbar fixed-top navbar-toggleable-md navbar-inverse bg-inverse">

	<button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
		aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">

    	<span class="navbar-toggler-icon"></span>

	</button>

	<a class="navbar-brand" routerLink="/">

		<small>endulge | enjoy</small> envape
	</a>

	<div class="collapse navbar-collapse" id="navbarSupportedContent">

		<ul class="navbar-nav mr-auto">

			<li class="nav-item" routerLinkActive="active">

				<a class="nav-link" routerLink="/products">Products</a>

			</li>

		</ul>

		<!--
			Auth/user component to be placed here
			Will present a form, when nog logged on, allowing users to
			log on, or, when logged on, user functions like account,
			orders, profile, etc.
		-->

	</div>

</nav>

<div style="margin-top: 55px;">

	<router-outlet></router-outlet>

</div>
