
<nav class="navbar navbar-toggleable-md navbar-light bg-faded">

	<button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
		aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">

    	<span class="navbar-toggler-icon"></span>

	</button>

	<a class="navbar-brand" href="#">

		<small>endulge | enjoy</small> envape
	</a>

	<div class="collapse navbar-collapse" id="navbarSupportedContent">

		<ul class="navbar-nav mr-auto">

			<li class="nav-item active">

				<a class="nav-link" href="#">Home</a>

			</li>

			<li class="nav-item dropdown">

				<a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown">
					Products
				</a>

				<div class="dropdown-menu">

					<a class="dropdown-item" href="#">Oils</a>
					<a class="dropdown-item" href="#">Vapes</a>
					<a class="dropdown-item" href="#">Mods</a>
					<a class="dropdown-item" href="#">Atomisers</a>
					<a class="dropdown-item" href="#">Tanks</a>
					<a class="dropdown-item" href="#">Coils</a>
					<a class="dropdown-item" href="#">Nozzles</a>
					<a class="dropdown-item" href="#">Batteries</a>
					<a class="dropdown-item" href="#">Cases</a>

				</div>

			</li>

		</ul>

		<!--
			Auth/user component to be placed here
			Will present a form, when nog logged on, allowing users to
			log on, or, when logged on, user functions like account,
			orders, profile, etc.
		-->

	</div>

</nav>
