/* You can add global styles to this file, and also import other style files */

body {
	font: 10pt "Tahoma";
}

.navbar-brand small {
	display: block;
	font-size: 0.6rem;
	color: #777;
	position: absolute;
	top: 10px;
	left: 5px;
}
